/* BANNER*/

@media(max-width: 100%) {
    .col-100 .banner {
        width: 1366px;
        margin: 0 auto;
    }
    .texto-centro .icone {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }
    .icone .outraclasse {
        top: 0rem;
    }
    main,
    .icone {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 16px;
    }
    .texto-centro .icone {
        /* justify-content: space-between;*/
    }
}

.bloco-icone {
    margin-bottom: 80px;
}

.col-100 {
    /*width: auto;*/
    /* float: left; */
    position: relative;
}

.slick-slider {
    width: 100%;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    transform: translateY(50%);
    left: 14%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    transform: translateY(50%);
    right: 14%;
}

.slick-list {
    width: 100% !important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

.slick-dots li {
    display: inline-block;
}

li.slick-active button {
    background-color: #00bac6;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}


/* FIM DO BANNER*/