/*responsivo galeria*/

.bloco-galeria:before {
    width: 100%;
    display: flex;
    content: '';
    height: 52px;
    background-color: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bloco-galeria {
    background-color: #eeeeee;
}

.bloco-galeria .content-galeria {
    /* height: 170px; */
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloco-galeria .content-galeria>div {
    width: 320px;
}

.bloco-galeria .content-galeria>div img {
    width: 100%;
}

.bloco-galeria .content-galeria {
    margin: 0 auto;
    padding: 0px;
    width: 980px;
}

.bloco-galeria:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    /* background:#eeeeee;*/
}


/*break point galeria*/

@media(max-width: 980px) {
    .bloco-galeria .content-galeria>div {
        width: 400px;
    }
    .bloco-galeria .content-galeria {
        justify-content: space-around;
    }
    main,
    .content-galeria {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 16px;
    }
}

@media(max-width: 860px) {
    .bloco-galeria .content-galeria>div {
        width: 320px;
        display: flex;
        flex-wrap: wrap;
    }
    .bloco-galeria .content-galeria {
        justify-content: space-around;
    }
}

@media(max-width: 700px) {
    .bloco-galeria .content-galeria>div {
        width: 400px;
    }
    .bloco-galeria .content-galeria {
        justify-content: space-around;
    }
}


/* fim do bloco galeria */