    @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
    @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    
     :root {
        --font-primary: "Baloo da 2", serif;
        --font-secundary: "Josefin Slab", serif;
        --font-action: "mulish", serif;
    }
    /*menu hambrguer*/
    
    .hamburguer {
        background-color: none;
        width: 2rem;
        height: 2rem;
        position: fixed;
        z-index: 100;
        right: 2rem;
        top: 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        transition: all 1.2s;
    }
    
    .sidebar {
        height: 20vh;
        background-color: transparent;
        position: fixed;
        top: 0;
        right: -80rem;
        opacity: 1;
        transition: all 1s;
    }
    
    .show-menu .hamburguer {
        right: 65rem;
    }
    
    .line {
        width: 100%;
        height: .1rem;
        background-color: white;
        box-shadow: 0.1rem 0.1rem 0px black;
        transition: transform 1s;
    }
    
    .show-menu #line2 {
        opacity: 0;
        visibility: hidden;
    }
    
    .show-menu #line1 {
        transform: rotate(45deg) translate(.1rem, .50rem);
    }
    
    .show-menu #line3 {
        transform: rotate(-45deg) translate(.1rem, -.50rem);
        ;
    }
    
    .hamburguer span {
        position: absolute;
        left: -6rem;
        height: 2rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00bac6;
        color: white;
        font-family: var(--font-action);
        opacity: 0;
        transition: all 1s;
    }
    
    .hamburguer span::before {
        content: '';
        position: absolute;
        border-left: .5rem solid #00bac6;
        border-bottom: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: .5rem solid transparent;
        right: -1rem;
    }
    
    .show-menu .hamburguer:hover span {
        opacity: 1;
    }
    
    .show-menu .sidebar {
        right: 0;
    }
    
    .menu ul {
        position: relative;
        top: 10%;
        left: 50%;
        transform: translate(-45%, -5%);
    }
    
    .menu-item {
        text-align: center;
    }
    
    @media(max-width: 1024px) {
        .hamburguer {
            right: 45rem !important;
        }
        /* .class{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .class{
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 16px;
    } */
    }
    
    @media(max-width: 768px) {
        .hamburguer {
            right: 40rem !important;
        }
        .menu-url {
            padding: 0 !important;
        }
        .menu {
            width: 85%;
        }
    }
    
    @media(max-width: 425px) {
        .hamburguer {
            right: 25rem !important;
        }
        .hamburguer span {
            opacity: 0 !important;
        }
        .menu-url {
            padding: 0 !important;
        }
        .menu {
            margin-top: 9px;
            width: 100%;
        }
        .menu ul a {
            font-size: 15px;
            text-transform: none;
        }
    }
    
    @media (max-width: 375px) {
        .menu-principal .header-1 .redes-sociais {
            opacity: 0;
        }
        .hamburguer {
            top: 1rem;
            right: 2rem !important;
        }
        .hamburguer span {
            opacity: 0 !important;
        }
        .menu-url {
            padding: 0 !important;
        }
        .menu {
            margin-top: 9px;
            width: 100%;
        }
        .menu ul a {
            color: black;
            margin: 10px;
            font-size: 13px;
            text-transform: none;
        }
    }
    
    @media (max-width: 320px) {
        .menu-principal .header-1 .redes-sociais {
            opacity: 0;
        }
        .hamburguer {
            top: 1rem;
            right: 2rem !important;
        }
        .hamburguer span {
            opacity: 0 !important;
        }
        .menu-url {
            padding: 0 !important;
        }
        .menu {
            margin-top: 9px;
            width: 100%;
        }
        .menu ul a {
            color: black;
            margin: 4px;
            font-size: 14px;
            text-transform: none;
        }
    }